.container {
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 20%;
    float: left;
    margin: 20px;
}

