@value blueGrey800, blueGrey50, grey50, deepOrange500, blue200 from "../../colors.css";

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.btn-primary {
    composes: btn-primary from '../../index.css';
}


.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    cursor: pointer;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.wrapper {
    padding-right: 15px;
    padding-left: 15px;
}

.wrapper-2 {
    composes: wrapper;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper-4 {
    composes: wrapper;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.col {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 20px;
}

.click {
    cursor: pointer;
}


.label {
    color: deepOrange500;
    font-weight: bold;
    width: 150px;
}
.label:after { content: ": " }


.row {
    display: inline-flex;
    /*flex: 1;*/
    /*flex-direction: row;*/
    margin-bottom: 5px;
    line-height: 30px;
    width: 100%;
    float: left;
}

.col {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}