@value deepOrange500 from "../colors.css";
@value filterWidth from "../index.css";

.filter-container {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.filter-container[data-open=true] {
    width: filterWidth;
}

.toggle-button {
    float: left;
    margin-left: 10px;
}

.input-field {
    composes: input-field from '../index.css';
    max-width: filterWidth;

}

.select-field {
    composes: input-field;
    max-width: filterWidth;
}
.badge {
    composes: badge from '../index.css';
    margin: 3px;
}

.label {
    color: deepOrange500;
    font-weight: bold;
    width: 150px;
}
.label:after { content: ": " }



.input {
    composes: input from '../index.css';
    margin: 1.5em 1em 1em !important;
}