@value deepOrange500, blue200 from "../../colors.css";

.panel {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    background-color: blue200;
}

.panel-body {
    padding: 15px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.row {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.col {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

.list-group {
    padding-left: 0;
    margin: auto;
    padding-top: 20px;
    max-width: 500px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.list-group-item-info {
    composes: list-group-item;
    color: #31708f;
    background-color: #d9edf7;
}

.input {
    /*composes: input from '../dashboard/style.css';*/
    margin: 2em 1em 1em;
}

.input-text {
    composes: input-field from '../dashboard/style.css';
    margin-right: 10px;
    flex: 3;
}


.input-number {
    composes: input-field from '../dashboard/style.css';
    flex: 1;
}

.btn-primary {
    composes: btn-primary from '../dashboard/style.css';
    margin-top: 20px;
}

.btn-primary-right {
    composes: btn-primary;
    float: right;
    margin-left: 5px;
}

.btn-primary-left {
    composes: btn-primary;
    float: left;
    margin-left: 20px;
}
